<div class="">
  <div class="">
    <%= link_to "Users", users_path, class: "p-2 text-decoration-none" %>
    <%= link_to "Home", root_path, class: "p-2 text-decoration-none" %>
    <%= link_to "Blogs", blogs_path, class: "p-2 text-decoration-none" %>
    <%= link_to "Employers", employers_path, class: "p-2 text-decoration-none" %>
    <%= link_to "Interviews", interviewers_path, class: "p-2 text-decoration-none" %>
    <%= link_to "About", about_path, class: "p-2 text-decoration-none" %>
  </div>
</div>

