<% breadcrumb :user, @user %>
<div class="pt-3">
  <%= link_to "Edit", edit_user_path(@user) %>
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column">
      <div class="d-flex flex-row align-items-baseline">
        <h1><%= @user.full_name %></h1>
        <span class="px-3"><%= @user.cohort%>/<%= @user.program %></span>
      </div>
      <p><%= mail_to @user.email %></p>
    </div>
    <div class="border border-2 d-flex align-items-center p-2">
      photo here
    </div>
  </div>
  <div class="pt-3">
    <p><%= @user.bio %></p>
  </div>
  <div>
    <h2>Blog articles</h2>
    <%= link_to "New Article", new_user_article_path(@user) %>
    <% @user.articles.each do |article|  %>
      <div>
        <%= link_to article.title, user_article_path(user_id: @user, id: article.id) %>
      </div>
    <% end %>
  </div>
</div>