  <% breadcrumb :user, @user %>
<div class="border border-2">
  <h1>bio</h1>
  <p>photo here</p>
  <p>user actions</p>
  <p class="font-bold"><%= @user.email %></p>
  <p>email: <%= @user.email %></p>
  <p>first_name: <%= @user.first_name %></p>
  <p>last name: <%= @user.last_name %></p>
  <p>biography: <%= @user.bio %></p>
  <p>cohort: <%= @user.cohort %></p>
  <p>program: <%= @user.program %></p>
  <%= link_to "Edit", edit_user_path(@user) %>
  <%= link_to "New Article", new_user_article_path(@user) %>
  <div>
    <h1>Blog articles</h1>
    <% @user.articles.each do |article|  %>
      <div>
        <%= link_to article.title, user_article_path(user_id: @user, id: article.id) %>
      </div>
    <% end %>
  </div>
</div>