<%= turbo_stream.update "employers" do %>
  <table class="table-fixed">
    <thead>
      <tr>
        <th>Employer Name</th>
        <th>City</th>
        <th><%= link_to "State", sort: "state" %></th>
        <th>Industry</th>
        <th># of Employees</th>
      </tr>
    </thead>
    <tbody>
      <% @employers.each do |employer| %>
        <tr>
          <td><%= link_to "#{employer.name}", employer.website %></td>
          <td><%= employer.city %></td>
          <td><%= employer.state %></td>
          <td><%= employer.industry %></td>
          <td><%= employer.employees %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
