<div class="flex flex-col">
  <div>
    <%= turbo_frame_tag "add_employer" do %>
      <%= render AddEmployerFormComponent.new %>
    <% end %>
  </div>
  <h1 class="font-bold text-4xl">Employers</h1>
  <div id="employers-table" class="p-4">
    <%= turbo_frame_tag "employers" do %>
      <table class="table-fixed">
        <thead>
          <tr>
            <th>Employer Name</th>
            <th>City</th>
            <th><%= link_to "State", sort: "state" %></th>
            <th>Industry</th>
            <th># of Employees</th>
          </tr>
        </thead>
        <tbody>
          <% @employers.each do |employer| %>
            <tr>
              <td><%= link_to "#{employer.name}", employer.website %></td>
              <td><%= employer.city %></td>
              <td><%= employer.state %></td>
              <td><%= employer.industry %></td>
              <td><%= employer.employees %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <div class="flex justify-center p-4 mt-4" data-controller="pagy-initializer">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
