<div class="flex flex-col border">
  <div>
    <%= turbo_frame_tag "add_employer" do %>
      <%= render AddEmployerComponent.new %>
    <% end %>
  </div>
  <h1 class="font-bold text-4xl">Employers</h1>
  <div id="table">
    <table class="table-auto">
      <thead>
        <tr>
          <th>Employer Name</th>
          <th>City</th>
          <th><%= link_to "State", sort: "state" %>State</th>
          <th>Website</th>
          <th>Industry</th>
          <th># of Employees</th>
        </tr>
      </thead>
      <tbody>
        <%= turbo_frame_tag "employers" do %>
          <% @employers.each do |employer| %>
            <tr>
              <td><%= employer.name %></td>
              <td><%= employer.city %></td>
              <td><%= employer.state %></td>
              <td><%= link_to "#{employer.website}", employer.website %></td>
              <td><%= employer.industry %></td>
              <td><%= employer.employees %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
