<!DOCTYPE html>
<html>
  <head>
    <title>TuringAllies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render HeaderComponent.new(current_user: current_user) %>
    <%= render NavbarComponent.new %>
    <turbo-frame id="flash">
      <%= render "layouts/flash" %>
    </turbo-frame>
    <main class="mt-28 justify-center min-h-screen flex container mx-auto">
      <%= yield %>
    </main>
    <%= render NavbarComponent.new %>
  </body>
</html>
